<h1>TicTacToc</h1>
<table id="tictac" data-playurl="<%= game_play_path %>">
  <tr>
    <td id="cell00" data-cell='0,0'>?</td>
    <td id="cell01" data-cell='0,1'>?</td>
    <td id="cell02" data-cell='0,2'>?</td>
  </tr>
  <tr>
    <td id="cell10" data-cell='1,0'>?</td>
    <td id="cell11" data-cell='1,1'>?</td>
    <td id="cell12" data-cell='1,2'>?</td>
  </tr>
  <tr>
    <td id="cell20" data-cell='2,0'>?</td>
    <td id="cell21" data-cell='2,1'>?</td>
    <td id="cell22" data-cell='2,2'>?</td>
  </tr>
</table>

<h2 id="game_status">
</h2>
